<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IKVM" version="8.1.5717.0" targetFramework="net472" />
  <package id="IronOcr" version="2020.11.2" targetFramework="net472" />
  <package id="MSBuild.NugetContentRestore" version="0.1.6" targetFramework="net472" />
  <package id="NuGet.Tessnet2" version="1.1.1" targetFramework="net472" />
  <package id="System.Drawing.Common" version="4.7.0" targetFramework="net472" />
  <package id="Tesseract" version="4.1.1" targetFramework="net472" />
</packages>